#estilo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
font-size: 20px;
    padding: 20px;
    height: 1000px; // Altura del cuadro
    background-color: #f0f0f0; // Color de fondo del cuadro
    border-radius: 10px; // Radio de borde del cuadro
    margin: 20px; // Margen exterior del cuadro
}
ion-item{
    padding: 30px;
    margin: auto;
}



#opciones {

    max-width: 250px;
	position: relative;
    display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding: 5px 8px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: rgb(231, 231, 231);

	font-size: 0.9em;
	
	font-family: 
	'Quicksand', sans-serif;
	
    border-radius: 7px;
    position: relative;
    transition: all 0.25s ease;
}


ion-label{
    font-weight: bold;
    
}

ion-header{
    text-align: center;
  
    
}

ion-header {
    
    ion-toolbar {
        
      ion-title {
        font-size: 24px; // Tamaño de fuente del título del encabezado
        font-weight: bold;
       
      
      }
    }
  }