<!-- imagen.component.html -->


<ion-app>
<div></div>
<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-label position="stacked">Seleccionar Foto</ion-label>
      <input type="file" (change)="onFileSelected($event)" accept="image/*" />
    </ion-item>
    <ion-item *ngIf="imageUrl">
      <img [src]="imageUrl" style="max-width: 7%; height: auto;" alt="Vista previa de la imagen seleccionada" />
    </ion-item>-

    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input type="text"   name="fileName" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Telefono</ion-label>
      <ion-input type="text"  name="fileName" required></ion-input>
    </ion-item>
    


  
  </form>
</ion-content>
</ion-app>