<ion-header>
  <ion-toolbar>
    <ion-title>
      Registro de Estado Civil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  (ngSubmit)="guardarEstadoCivil()">
  
    <ion-item>
      <ion-label>Estado Civil</ion-label>
      <ion-select interface="popover" name="estadoCivil" ngModel required>
        <ion-select-option value="soltero">Soltero/a</ion-select-option>
        <ion-select-option value="casado">Casado/a</ion-select-option>
        <ion-select-option value="viudo">Viudo/a</ion-select-option>
        <ion-select-option value="divorciado">Divorciado/a</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button type="submit" expand="full">Guardar</ion-button>
  </form>
</ion-content>

