<div class="contenedor-cuadro">
  <div class="contenido">
<ion-header>
    <ion-toolbar>
      <ion-title>
        Registro de Estado Civil
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  
    <form  (ngSubmit)="guardarEstadoCivil()">
      
      <ion-item>
        <ion-label>Estado Civil</ion-label>
        <ion-select interface="popover" name="estadoCivil" ngModel required>
          <ion-select-option value="soltero">Soltero/a</ion-select-option>
        <ion-select-option value="casado">Casado/a</ion-select-option>
        <ion-select-option value="viudo">Viudo/a</ion-select-option>
        <ion-select-option value="divorciado">Divorciado/a</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-item class="mi-clase-margen">
    </ion-item>
    
    
    

    <ion-header>
      <ion-toolbar>
        <ion-title>
          Paises
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-item>
      <ion-label>Paises</ion-label>
      <ion-select interface="popover" name="Paises" ngModel required>
        <ion-select-option value="Afganistán">Afganistán</ion-select-option>
        <ion-select-option value="Albania">Albania</ion-select-option>
        <ion-select-option value="Alemania">Alemania</ion-select-option>
        <ion-select-option value="Islandia">Islandia</ion-select-option>
        <ion-select-option value="Islas Marshall">Islas Marshall</ion-select-option>
        <ion-select-option value="Islas Salomón">Islas Salomón</ion-select-option>
        <ion-select-option value="Israel">Israel</ion-select-option>
        <ion-select-option value="Italia">Italia</ion-select-option>
        <ion-select-option value="Jamaica">Jamaica</ion-select-option>
        <ion-select-option value="Japón">Japón</ion-select-option>
        <ion-select-option value="Jordania">Jordania</ion-select-option>
        <ion-select-option value="Kazajistán">Kazajistán</ion-select-option>
        <ion-select-option value="Kenia">Kenia</ion-select-option>
        <ion-select-option value="Kirguistán">Kirguistán</ion-select-option>
        <ion-select-option value="Kiribati">Kiribati</ion-select-option>
        <ion-select-option value="Kuwait">Kuwait</ion-select-option>
        <ion-select-option value="Laos">Laos</ion-select-option>
        <ion-select-option value="Lesoto">Lesoto</ion-select-option>
        <ion-select-option value="Letonia">Letonia</ion-select-option>
        <ion-select-option value="Líbano">Líbano</ion-select-option>
        <ion-select-option value="Liberia">Liberia</ion-select-option>
        <ion-select-option value="Libia">Libia</ion-select-option>
        <ion-select-option value="Liechtenstein">Liechtenstein</ion-select-option>
        <ion-select-option value="Lituania">Lituania</ion-select-option>
        <ion-select-option value="Luxemburgo">Luxemburgo</ion-select-option>
        <ion-select-option value="Macedonia del Norte">Macedonia del Norte</ion-select-option>
        <ion-select-option value="Madagascar">Madagascar</ion-select-option>
        <ion-select-option value="Malasia">Malasia</ion-select-option>
        <ion-select-option value="Malaui">Malaui</ion-select-option>
        <ion-select-option value="Maldivas">Maldivas</ion-select-option>
        <ion-select-option value="Malí">Malí</ion-select-option>
        <ion-select-option value="Malta">Malta</ion-select-option>
        <ion-select-option value="Marruecos">Marruecos</ion-select-option>
        <ion-select-option value="Mauricio">Mauricio</ion-select-option>
        <ion-select-option value="Mauritania">Mauritania</ion-select-option>
        <ion-select-option value="México">México</ion-select-option>
        <ion-select-option value="Micronesia">Micronesia</ion-select-option>
        <ion-select-option value="Moldavia">Moldavia</ion-select-option>
        <ion-select-option value="Mónaco">Mónaco</ion-select-option>
        <ion-select-option value="Mongolia">Mongolia</ion-select-option>
        <ion-select-option value="Montenegro">Montenegro</ion-select-option>
        <ion-select-option value="Mozambique">Mozambique</ion-select-option>
        <ion-select-option value="Namibia">Namibia</ion-select-option>
        <ion-select-option value="Nauru">Nauru</ion-select-option>
        <ion-select-option value="Nepal">Nepal</ion-select-option>
        <ion-select-option value="Nicaragua">Nicaragua</ion-select-option>
        <ion-select-option value="Níger">Níger</ion-select-option>
        <ion-select-option value="Nigeria">Nigeria</ion-select-option>
        <ion-select-option value="Noruega">Noruega</ion-select-option>
        <ion-select-option value="Nueva Zelanda">Nueva Zelanda</ion-select-option>
        <ion-select-option value="Omán">Omán</ion-select-option>
        <ion-select-option value="Países Bajos">Países Bajos</ion-select-option>
        <ion-select-option value="Pakistán">Pakistán</ion-select-option>
        <ion-select-option value="Palaos">Palaos</ion-select-option>
        <ion-select-option value="Panamá">Panamá</ion-select-option>
        <ion-select-option value="Papúa Nueva Guinea">Papúa Nueva Guinea</ion-select-option>
        <ion-select-option value="Paraguay">Paraguay</ion-select-option>
        <ion-select-option value="Perú">Perú</ion-select-option>
        <ion-select-option value="Polonia">Polonia</ion-select-option>
        <ion-select-option value="Portugal">Portugal</ion-select-option>
        <ion-select-option value="Reino Unido">Reino Unido</ion-select-option>
        <ion-select-option value="República Centroafricana">República Centroafricana</ion-select-option>
        <ion-select-option value="República Checa">República Checa</ion-select-option>
        <ion-select-option value="República del Congo">República del Congo</ion-select-option>
        <ion-select-option value="República Democrática del Congo">República Democrática del Congo</ion-select-option>
        <ion-select-option value="República Dominicana">República Dominicana</ion-select-option>
        <ion-select-option value="Ruanda">Ruanda</ion-select-option>
        <ion-select-option value="Rumania">Rumania</ion-select-option>
        <ion-select-option value="Rusia">Rusia</ion-select-option>
        <ion-select-option value="Samoa">Samoa</ion-select-option>
        <ion-select-option value="San Cristóbal y Nieves">San Cristóbal y Nieves</ion-select-option>
        <ion-select-option value="San Marino">San Marino</ion-select-option>
        <ion-select-option value="San Vicente y las Granadinas">San Vicente y las Granadinas</ion-select-option>
        <ion-select-option value="Santa Lucía">Santa Lucía</ion-select-option>
    </ion-select>
  </ion-item>


  <ion-item class="mi-clase-margen">
  </ion-item>

  <ion-header>
    <ion-toolbar>
      <ion-title>
        Seleccione su fecha de nacimiento
      </ion-title>
    </ion-toolbar>
  </ion-header>

  

<ion-item>
  <ion-label>Fecha de Nacimiento</ion-label>
  <ion-datetime [showDefaultButtons]="true" doneText="All set" cancelText="Never mind"> </ion-datetime>
</ion-item>
</form>

